In [2]:
import pandas as pd

df = pd.read_csv('Dataset/train.csv')
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [3]:
# Lets work on smaller dataset 
new_df = df.sample(30000)

In [4]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [5]:
new_df.duplicated().sum()

0

In [6]:
ques_df = new_df[['question1', 'question2']]
ques_df.sample(5)

,question1,question2
367828,What are the best ways to make money online?,What are the easiest ways to earn money online?
217996,Why do guys like attractive and thin girls?,Do guys find feminine girls attractive?
264507,Where can I download all episodes of Naruto (N...,Where can I watch Naruto (and Naruto Shippuden...
109279,What was the significance of the battle of Som...,What was the significance of the battle of Som...
365462,What would be the impact of GST in india?,What are the benefits of gst bill?

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)

import numpy as np
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)

In [8]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)

temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)